<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Oriented CSS Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="/static/fontawesome/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="/static/css/templatemo-business-oriented.css" rel="stylesheet" />
</head>
<!--

TemplateMo 549 Business Oriented

https://templatemo.com/tm-549-business-oriented

-->
<body>
    <div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="/static/img/biz-oriented-header.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
            <a class="raven-site-logo-link" href="/">
                         <img src="/static/img/bill.jpg" alt="Bill Lassister Co" width="350" height="150" class="img-responsive"></div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">Digital Marketing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/design">Design and Build</a>
                               </li>
                                    <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">Product Packaging</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-primary" href="/signup">Contact</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-7">
        <div class="row mb-6">
            <section class="col-lg-6 mb-lg-0 mb-5">
                <div class="tm-intro">
                    <h3 class="tm-title-gray mb-4">What will do?</h3>
                    <hr class="mb-5 tm-hr">
                    <p class="mb-5"> The agency engages in wide-ranging, multi-channel campaigns, leveraging social platforms to reach their client’s audience.

We’re a multidisciplinary team with a proven track record. Making our clients and their customers happy is our top priority, so we’re 100% transparent, always collaborative and always looking for new ways to help.</p>
                    
                    
                    <img src="/static/img/biz-oriented-1.jpg" alt="Company Background Image" class="img-fluid tm-mb-3">
                </div>
            </section>
            <section class="col-lg-6">
                <h3 class="tm-title-gray mb-4">New Focused Strategies</h3>
                <hr class="mb-5 tm-hr">
                <div class="tm-strategy-box mb-5">
                    <img src="/static/img/discov.jpg" alt="Image" class="img-fluid tm-strategy-img" width="270" height="50" class="img-responsive">
                    <div>
                         <a href="/contact"class="tm-text-primary"><h4>Discovery</h4></a>
                        <p class="tm-strategy-text">Make us get access into your business and figure out its inner workings. Our enquiry, along side with the details you present to us, is the first step of a successful digital strategy.</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
                    <img src="/static/img/project.jpg" alt="Image" class="img-fluid tm-strategy-img" width="270" height="50" class="img-responsive"> 
                    <div>
                         <a href="/contact"class="tm-text-primary"><h4>Project Insight</h4></a>
                        <p class="tm-strategy-text">We discover any current problem your sight might be facing and find out why your current digital strategy isn't cutting it.</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
                    <img src="/static/img/digita.jpg" alt="Image" class="img-fluid tm-strategy-img" width="270" height="50" class="img-responsive">
                    <div>
                         <a href="/contact"class="tm-text-primary"><h4>Digital Strategy Formation</h4></a>
                        <p class="tm-strategy-text">In this stage, your digital strategy comes together. collaborating all the necessary data we have collated on your business and customers; we have create a plan that is suitable for you.</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
                    <img src="/static/img/rat.png" alt="Image" class="img-fluid tm-strategy-img" width="270" height="50" class="img-responsive">
                    <div>
                         <a href="/contact"class="tm-text-primary"><h4>Conversion Rate Optimisation</h4></a>
                        <p class="tm-strategy-text">In an ever-changing digital world, regular conversation rate optimisation will keep you at the peak of your game.</p>
                    </div>
                </div>
            </section>
        </div>
        <!-- Services -->
        <div class="row mb-7">
            <div class="col-lg-4 col-md-6">
                <img src="/static/img/digital.jpg" alt="Image" class="img-fluid">
                <div class="tm-box tm-box-s">
                   <a href="/contact" class="tm-text-primary tm-h3 mb-5"><h4> Digital marketing</h4> </a>
                   
                    <p>It completly a waste of resource having great programs, job or a beautiful website if no one sees or patronize it right? Get noticed with our digital marketing team and make use of our SEO, PPC and social media marketing specialists.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/static/img/design.jpg" alt="Image" class="img-fluid">
                <div class="tm-box tm-box-s">
                   <a href="/contact" class="tm-text-primary tm-h3 mb-5"><h4>Design and Build</h4></a>
                    <p>We don’t do off-the-shelf. Combination of beautiful web design with expert marketing and UX planning, we create sites with eye-catching aesthetics and easy usability.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="/static/img/product.jpg" alt="Image" class="img-fluid">
                <div class="tm-box tm-box-s">
                <a href="/contact" class="tm-text-primary tm-h3 mb-5"><h4>Product Packaging</h4></a>
                    <p class="tm-mb-5">We also deal with product packaging and branding. With lit designs and well composed writings on any products with free product promotion offer.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="parallax-2" class="parallax-window parallax-window-2" data-parallax="scroll"
        data-image-src="/static/img/biz-oriented-footer.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tm-overlay tm-bg-white">
                        <h2 class="tm-text-primary mb-5">LET WORK TOGETHER</h2>
                        <p class="mb-5">Do you have a project you believe in?
                        Then get in touch and let us help you.</p>
                        <a href="/contact" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="row">
            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                Sponsor by &copy; Npower usa 2020 <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-text-primary">NPOWER USA
            
            </p>
            <div class="col-lg-3 col-md-4 text-right">
                <a rel="nofollow" target="_blank" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook fa-2x tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter fa-2x tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script> <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="/static/js/tooplate-script.js"></script>
    <script>
        $(document).ready(function () {
            $('#parallax-1').parallax({ imageSrc: '/static/img/biz-oriented-header.jpg' });
            $('#parallax-2').parallax({ imageSrc: '/static/img/biz-oriented-footer.jpg' });
        });
    </script>
</body>

</html>